body {
    background: rgb (94,91,91);
    font: normal 15pt Arial;
}

header {
    color: rgb(18, 19, 19);
    text-align: center;
}
section {
    background: rgb(207, 235, 240);
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0.432);
}
img {
    display: block;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}